
/* Fonts from Google Fonts - more at https://fonts.google.com */

@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Raleway');

header {
  z-index: 1;
  position: relative;
  width: 97.5%;
  background-color: #ff72a3;
}

#header {
  padding: 20px;
  margin-top: 50px;
  height: 120px;
  background-color: #ff95c1;

}
#what {
  text-align: center;
  
}


#photoalign {
text-align: center;
}
/* content container keeps central content together */
#content {
  width: 1000px;
  margin: auto;
  text-align: center;
  padding: 50px;
  color: #971414;
  background-color: #faebd7;
}

/* Navigation styling below */
ul {
  font-family: "Bitter", serif;
  text-align: center;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: #ff72a3;
}

li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

p{
  display: block;
  width: 1000px;
  text-align: left;
}

a:link, a:visited {
  font-weight: bold;
  color: #faebd7;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover, a:active {
  color: #971414;
}

img { 
  position: relative;
  text-align: center;
  width: 1000px;
}

body {
  display: block;
  font-family: "Raleway", sans-serif;
  color: #ff72a3;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  text-align: center;
  background-image: url(images/donutrepeat3_shop_preview_1d-04-04-04.png);
}
/* Above is the image I created in Adobe Illustrator for background */

h1 {
  font-family: "Bitter", serif;
  font-size: 54px;
  text-align:center;
  color: #faebd7;
}

h2 {
  font-family: "Bitter", serif;
  font-size: 40px;
  text-align:center;
  color: #ff72a3;
}

h3 {
  text-align: left;
}

footer h3 {
  text-align: center;
}

footer {
  position: relative;
  display: inline-block; 
  font-family: "Bitter", serif;
  text-align: center;
  width: 97.5%;
  height: 100px;
  background-color: #ff95c1;

}

h4 {
  font-family: "Raleway", sans-serif; 
}

/* do or donut there is no try */